.clearfix {
	zoom: 1
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both
}

.carelib-dashboard * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.carelib-dashboard {
	overflow: hidden;
}

.carelib-dashboard .theme-image {
	padding: 0;
	display: inline-block;
	width: 100%;
	width: 30%;
}

.carelib-dashboard .intro-wrap {
	padding: 20px 0;
}

.carelib-dashboard .intro {
	display: inline-block;
	width: 65%;
	margin-left: 4%;
	vertical-align: top;
}

.carelib-dashboard .intro h2 {
	font-size: 38px;
	line-height: 1.2;
	font-weight: 300;
	padding: 0 0 15px;
}

.carelib-dashboard .intro h3 {
	color: #868B96;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.6;
	max-width: 800px;
}

.carelib-dashboard .panels {
	display: block;
	overflow: hidden;
}

.carelib-dashboard .panel {
	display: inline-block;
	width: 100%;
	padding: 30px;
	background: #fff;
	font-size: 16px;
	display: none;
}

.carelib-dashboard .visible {
	display: block;
}

.carelib-dashboard .panel-title {
	padding: 0px 0 10px;
	font-size: 32px;
}

.carelib-dashboard .panel p {
	font-size: 16px;
	line-height: 1.7;
}

.carelib-dashboard .panel .success {
	color: #00A66C;
}

.carelib-dashboard .panel .error {
	color: #C25046;
}

.carelib-dashboard .panel a {
	text-decoration: none;
}

.carelib-dashboard .panel hr {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: none;
	border-color: #eee;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.carelib-dashboard .panel-content ul,
.carelib-dashboard .panel-content ol {
	margin: 1em 0;
	padding-left: 20px;
	padding-top: 10px;
	list-style-type: circle;
	font-size: 16px;
	line-height: 1.5;
}
.carelib-dashboard .panel-content ul li,
.carelib-dashboard .panel-content ol li {
	border-bottom: dotted 1px #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.carelib-dashboard .panel-content ul li:last-child,
.carelib-dashboard .panel-content ol li:last-child {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.carelib-dashboard .panel-content {
	display: inline-block;
	width: 58%;
}

.carelib-dashboard .panel-content h3,
.carelib-dashboard .panel-sidebar h3,
.carelib-dashboard .panel-sidebar p:first-child {
	font-weight: 400;
	margin-top: 0;
	line-height: 1.3;
}

.carelib-dashboard .panel-sidebar {
	display: inline-block;
	width: 35%;
	float: right;
	vertical-align: top;
}

.carelib-dashboard .inline-list {
	display: inline-block;
	width: auto;
	margin: 0;
}

.carelib-dashboard .inline-list li,
.carelib-dashboard .inline-list span {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 10px;
}

.carelib-dashboard .inline-list li:last-child,
.carelib-dashboard .inline-list span:last-child {
	margin-right: 0;
	padding-right: 0;
}

.carelib-dashboard .inline-list a {
	display: block;
	font-size: 18px;
	text-decoration: none;
	line-height: 1.2;
	padding: 15px 20px;
}

.carelib-dashboard .inline-list a:active,
.carelib-dashboard .inline-list a:focus {
	box-shadow: none;
	outline: none;
	border: 0;
}

.carelib-dashboard .inline-list li.current a {
	background: #fff;
}

.carelib-dashboard .panel-aside {
	margin-bottom: 25px;
	background: #f8f8f8;
	padding: 30px;
}

.carelib-dashboard .panel-aside:last-child {
	margin-bottom: 0;
}

.carelib-dashboard .panel-aside h3 {
	margin-top: 0;
}

.carelib-dashboard .license-form {
	display: block;
	margin: 3% 0 1% 0;
}

.carelib-dashboard .license-form label {
	display: block;
	margin-bottom: 8px;
}

.carelib-dashboard .license-form .license {
	display: inline-block;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

.carelib-dashboard .license-form .submit {
	display: inline-block;
	margin: 0;
	padding: 0;
}

@media only screen and (max-width:768px) {
	.carelib-dashboard .intro, .theme-image,
	.carelib-dashboard .panel-content,
	.carelib-dashboard .panel-sidebar {
		width: 100%;
		float: none;
	}

	.carelib-dashboard .intro {
		padding: 0;
		margin: 0;
	}

	.carelib-dashboard .intro h2 {
		font-size: 34px;
	}

	.carelib-dashboard .intro h3 {
		margin-bottom: 0;
	}

	.carelib-dashboard .inline-list li {
		width: 100%;
	}

	.carelib-dashboard .inline-list a {
		width: 100%;
		display: block;
	}

	.carelib-dashboard .theme-image {
		width: 100%;
		margin-bottom: 20px;
		padding:0;
	}
}
