/**
 * Admin Stylesheet.
 */

/* Layouts Image Control
-------------------------------------------- */

#carelib-layouts input[type="radio"] {
	clip:     rect(1px, 1px, 1px, 1px);
	height:   1px;
	overflow: hidden;
	position: absolute !important;
	width:    1px;
}

#carelib-layouts img {
	box-sizing: border-box;
	max-width:  100%;
	height:     auto;
	padding:    1px;
	border:     4px solid transparent;
}

#carelib-layouts img:hover,
#carelib-layouts img:focus {
	border-color: #ddd;
}

#carelib-layouts input:checked + img {
	border-color: #00a0d2;
}
